﻿@using htmlAPIClientStoreHouse.Controllers
@{
    ViewData["Title"] = "Edit Product";
}
<h1>@ViewData["Title"]</h1>

<table>
    <form method="post" action="">
        <p>
            <label>Name:</label><br />
            <input type="text" id="productName" name="ProductName" />
        </p>
        <p>
            <label>Price:</label><br />
            <input type="number" id="productPrice" name="ProductPrice" />
        </p>
        <p>
            <label>Count:</label><br />
            <input type="number" id="count" name="Count" />
        </p>
        <p>
            <input type="button" value="Отправить" onclick="editProduct()" />
        </p>
    </form>
</table>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/Store';

    function editProduct() {
        var product = {
            productId: parseInt(@ViewData["ProductId"]),
            productName: $('#productName').val(),
            productPrice: parseInt($('#productPrice').val()),
            count: parseInt($('#count').val())
        };
        var dataJson = JSON.stringify(product);

        var URL = uri + '/Product/Edit';
        $.ajax({
            type: "PUT",
            url: URL,
            data: dataJson,
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        });
        window.location.href = "/Product/GetAll";
    }
</script>