﻿@using htmlAPIClientStoreHouse.Controllers
@{
    ViewData["Title"] = "Find Product";
}
<h1>@ViewData["Title"]</h1>

<table>
    <form method="post" action="">
        <p>
            <label>Name:</label><br />
            <input type="text" id="productName" name="ProductName" />
        </p>
        <p>
            <input type="button" value="Отправить" onclick="find()" />
        </p>
    </form>

    <table id="products" class="table table-hover">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Count</td>
        </tr>
        <tr>
            
        </tr>
    </table>
</table>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/Store';

    function formatItem(item) {
        return [$('<td>', { text: item.productId }), $('<td>', { text: item.productName }), $('<td>', { text: item.productPrice }), $('<td>', { text: item.count })];
    }

    function find() {
        $.getJSON(uri + '/Product/Get/' + $('#productName').val())
            .done(function (data) {
                $('#products tr:last').remove();
                $('#products').append($('<tr>').append(formatItem(data)));
            })
            .fail(function(jqXHR, textStatus, err) {
                //$('#products').text('Error: ' + err);
                $('#products tr:last').remove();
                $('#products').append($('<tr>', { text: 'Error: ' + err.responseText}));
            });
    }
</script>