﻿@using htmlAPIClientStoreHouse.Controllers
@{
    ViewData["Product"] = "Product";
}
<h1>@ViewData["Product"]</h1>

<table id="products" class="table table-hover">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Price</td>
        <td>Count</td>
        <td>functions</td>
    </tr>
    <tr></tr>
</table>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/Store';

    $(document).ready(getAllProducts);

    function getAllProducts() {
        $.getJSON(uri + '/Product/GetAll')
            .done(function (data) {
                $("#products").find("tr:gt(0)").remove();
                $.each(data,
                    function (key, item) {
                        $('<tr>').append(formatItem(item)).appendTo($('#products'));
                    });
            });
    }

    function formatItem(item) {
        return [
            $('<td>', { text: item.productId }),
            $('<td>', { text: item.productName }),
            $('<td>', { text: item.productPrice }),
            $('<td>', { text: item.count }),
            $('<td>').append([$('<a>', { class: "mr-1 btn btn-outline-primary", text: "Delete", onclick: "deleteProduct(" + item.productId + ")" }), $('<a>', { class: "mr-1 btn btn-outline-primary", text: "Edit", href: "/Product/EditProductFields/" + item.productId })])
        ];
    }

    function redirectToChange(id) {
        window.location.href = "/Product/EditProductFields";
    }

    function deleteProduct(id) {
        var URL = uri + '/Product/Delete/' + id;
        $.ajax({
            url: URL,
            type: 'DELETE',
            success: function (result) {
                getAllProducts();
            }
        });
    }
</script>