﻿
<h1>Customer</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="GetAll">Get all customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="AddCustomerFields">Add customer</a>
    </li>
</ul>