﻿<h1>Add Product</h1>

<table>
    <form method="post" action="">
        <p>
            <label>Name:</label><br />
            <input type="text" id="productName" name="ProductName" />
        </p>
        <p>
            <input type="button" value="Отправить" onclick="addProduct()" />
        </p>
    </form>
</table>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/Store';


    function addProduct() {
        $.getJSON(uri + '/Product/Get/' + $('#productName').val())
            .done(function (data) {
                var URL = uri + '/Order/AddProduct/' + @ViewData["OrderId"] + '/' + data.productId;
                $.ajax({
                    type: "PUT",
                    url: URL
                });
                location.replace("/Order/GetAll/"+@ViewData["CustomerId"]);
            })
    }
</script>