﻿@{
    ViewData["Order"] = "Orders";
}
<h1>@ViewData["Order"]</h1>

ViewData["CustomerId"] = id;


<style>
    td {
        text-align: center;
        vertical-align: middle;
    }
</style>

<table id="mainTable" class="table table-bordered">
    <tr>
        <td>orderId</td>
        <td>Products In Order</td>
    </tr>
    <tr></tr>
</table>
<tr>
    <td>
    <tr>
        <td>
            <a class= "mr-1 btn btn-outline-primary" onclick="addProductToOrder()">Create Order</a>
        </td>
    </tr>
</tr>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/Store';
    $(document).ready(getAllOrders);

    function getAllOrders() {
        $.getJSON(uri + '/Order/Get/'+@ViewData["CustomerId"])
            .done(function (data) {
                $("#mainTable").find("tr:gt(0)").remove();
                $.each(data,
                    function (key, item) {
                        $('<tr>').append(formatItem(item)).appendTo($('#mainTable'));
                    });
            });
    }

    function formatItem(item) {
        var row = $("<td>");
        $('<tr>').append([$('<td>', { text: "productId" }),
            $('<td>', { text: "productName" }),
            $('<td>', { text: "productPrice" }),
            $('<td>', { text: "count" })
        ]).appendTo(row);
        $.each(item.orderProducts,
            function (key, data) {
                row.append(($('<tr>').append([$('<td>', { text: data.productId }),
                    $('<td>', { text: data.productName }),
                    $('<td>', { text: data.productPrice }),
                    $('<td>', { text: data.count }),
                    $('<td>').append($('<a>', { class: "mr-1 btn btn-outline-primary", text: "Delete", onclick: "deleteProductFromOrder(" + item.orderId + ',' + data.productId+ ")" }))
                ])));
            });

        return [
            $('<td>', { text: item.orderId }), row, $('<td>').append([$('<tr>').append($('<td>').append($('<a>', { class: "mr-1 btn btn-outline-primary", text: "Delete", onclick: "deleteOrder(" + item.orderId + ")" }))), $('<tr>').append($('<td>').append($('<a>', { class: "mr-1 btn btn-outline-primary", text: "Add Product", href: "/Order/AddProductToOrder" + '?id=' + item.orderId +'&cusId='+@ViewData["CustomerId"] })))])
        ];
    }

    function addProductToOrder() {
        var order = {
            customerId: @ViewData["CustomerId"]
        };
        var dataJson = JSON.stringify(order);

        var URL = uri + '/Order/Create';
        $.ajax({
            type: "POST",
            url: URL,
            data: dataJson,
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        });
        getAllOrders();
    }

    function deleteOrder(id) {
        var URL = uri + '/Order/Delete/'+id
        $.ajax({
            type: "DELETE",
            url: URL
        });
        location.reload();
    }

    function deleteProductFromOrder(orderId,productId)
    {
        var URL = uri + '/Order/RemoveProduct/' + orderId + '/' + productId;
        $.ajax({
            type: "PUT",
            url: URL
        });
        location.reload();
    }


</script>

