﻿
<h1>AddCustomer</h1>

<table>
    <form method="post" action="">
        <p>
            <label>Name:</label><br />
            <input type="text" id="customerName" name="CustomerName" />
        </p>
        <p>
            <label>Email:</label><br />
            <input type="Email" id="customerEmail" name="CustomerEmail" />
        </p>
        <p>
            <input type="button" value="Отправить" onclick="addCustomer()" />
        </p>
    </form>
</table>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/Store';

    function addCustomer() {
        var customer = {
            customerName: $('#customerName').val(),
            customerEmail: $('#customerEmail').val()
        };
        var dataJson = JSON.stringify(customer);

        var URL = uri + '/Customer/Add';
        $.ajax({
            type: "POST",
            url: URL,
            data: dataJson,
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        });
    }
</script>