﻿
<h1>EditCustomer</h1>

<table>
    <form method="post" action="">
        <p>
            <label>Name:</label><br />
            <input type="text" id="customerName" name="CustomerName" />
        </p>
        <p>
            <label>Email:</label><br />
            <input type="Email" id="customerEmail" name="CustomerEmail" />
        </p>
        <p>
            <input type="button" value="Отправить" onclick="updateCustomer()" />
        </p>
    </form>
</table>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/Store';

    function updateCustomer() {
        var customer = {
            customerId: @ViewData["CustomerId"],
            customerName: $('#customerName').val(),
            customerEmail: $('#customerEmail').val()
        };
        var dataJson = JSON.stringify(customer);

        var URL = uri + '/Customer/Update';
        $.ajax({
            type: "PUT",
            url: URL,
            data: dataJson,
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        });
        window.location.href = "/Customer/GetAll";
    }
</script>