﻿<h1>Customer</h1>

<table id="customers" class="table-hover table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>functions</td>
    </tr>

</table>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/Store';

    $(document).ready(getAllCustomers);

    function getAllCustomers() {
        $.getJSON(uri + '/Customer/GetAll')
            .done(function (data) {
                $("#customers").find("tr:gt(0)").remove();
                $.each(data,
                    function (key, item) {
                        $('<tr>').append(formatItem(item)).appendTo($('#customers'));
                    }
                );
            }
        );
    }

    function formatItem(item) {
        return [
            $('<td>', { text: item.customerId }), $('<td>', { text: item.customerName }), $('<td>', { text: item.customerEmail }),
            $('<td>').append([$('<a>', { class: "mr-1 btn btn-outline-primary", text: "Delete", onclick: "deleteCustomer(" + item.customerId + ")" }), $('<a>', { class: "mr-1 btn btn-outline-primary", text: "Edit", href: "/Customer/EditCustomerFields/" + item.customerId }), $('<a>', { class: "mr-1 btn btn-outline-primary", text: "Orders", href: "/Customer/GetCustomerOrders/" + item.customerId })])
        ];
    }

    function deleteCustomer(id) {
        var URL = uri + '/Customer/Delete/' + id;
        console.log(URL);
        $.ajax({
            url: URL,
            type: 'DELETE',
            success: function (result) {
                getAllCustomers();
            }
        });
    }
</script>